body{
	background-image: url(../images/youname.gif);
	background-position:center;
}
.div-box{
	width:340px;
	margin:0 auto;
}
.poem{
	color:#c00;
	width:100%;
	font-weight: bold;
	margin-top:15px;
	line-height:1.5em;
	font-size:18px;
}
ul{
	list-style-type: none;
}
span{
	font-size:12px;
	font-style:italic;
}
#heart{
	position:relative;
	width:100px;
	height:90px;
	margin:0 auto;
}
#heart:before{
	position:absolute;
	content:"";
	left:50px;
	top:0;
	width:50px;
	height:80px;
	background:red;
	border-radius:50px 50px 0 0;
	transform:rotate(-45deg);
	transform-origin:0 100%;
}
#heart:after{
	position:absolute;
	content:"";
	left:50px;
	top:0;
	width:50px;
	height:80px;
	background:red;
	border-radius:50px 50px 0 0;
	transform:rotate(45deg);
	transform-origin:50% 25%;
}